# Java
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.settings/
backend/.project
backend/.classpath
backend/.factorypath

# Node
frontend/node_modules/
frontend/dist/
frontend/.eslintcache

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
